<h1>Listing services</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Environment</th>
    <th>Technology</th>
    <th>Depot</th>
    <th>Directory</th>
    <th>Build target</th>
    <th>Build date</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td><%= service.environment_id %></td>
    <td><%= service.technology_id %></td>
    <td><%= service.depot %></td>
    <td><%= service.directory %></td>
    <td><%= service.build_target %></td>
    <td><%= service.build_date %></td>
    <td><%= service.image_url %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
