<h1>Listing Hosts</h1>

<table>
<% @hosts.each do |host| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
            <%= image_tag(host.image_url, class: 'list_image') %>
        </td>
        <td class='list_description'>
            <dl>
                <dt><%= host.name + "." + host.domain %></dt>
                <dd><%= host.ip %></dd>
            </dl>
        </td>
        <td class="list_actions">
            <%= link_to 'Show', host %><br/>
            <%= link_to 'Edit', edit_host_path(host) %><br/>
            <%= link_to 'Destroy', Host, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
<% end %>
</table>

<%= link_to 'New Host', new_host_path %>
